.w-450 {
	width: 450px;
}
.vh-100 {
	min-height: 100vh;
}

html {
	height: 100%;
  }
  
body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('https://cdn.pixabay.com/animation/2022/11/16/14/56/14-56-49-778_512.gif');
	background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000000;
  }

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.box {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 20px #cccccc;
	padding: 20px;
	transform-style: preserve-3d;
	transform: perspective(1000px) rotateY(-30deg);
	border-radius: 20px;
	transition: transform 0.3s ease-out;
	position: relative;
}

h1 {
	font-size: 36px;
	margin-top: 0px;
}

label {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	position: relative;
	padding-left: 40px;
}

label::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	height: 20px;
	width: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#pass::before {
	background-image: url('https://cdn-icons-png.flaticon.com/512/52/52889.png');
}

#usern::before {
	background-image: url('https://cdn-icons-png.flaticon.com/512/456/456212.png');
}

input[type="text"], input[type="password"] {
	border: 1px solid #cccccc;
	font-size: 18px;
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #4CAF50;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	padding: 10px 20px;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}